<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/style.css">
    <title>Mi Perfil</title>
</head>
<body class="principal">
    <header>
        <nav>
            <div class="menu-in-1">
                    <img class="logo-index" src="../img/logo.png">
                    <img class="corbata" src="../img/corbata.png">
            </div>
            <div class="menu-principal">
                <ul>
                  <li><a href="configuracion.html">Configuracion</a></li>
                  <li><a href="busqueda.html">Busqueda</a></li>
                  <li><a href="#">Menu</a></li>
                </ul>
            </div>
            <div class="photo-perfil">
                <a href="perfil.html"><img src="../img/model.jpg"></a>
            </div>
        </nav>
    </header>
</body>
</html>
